<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<button class="btn btn-primary" (click)="onLoadSever(1)"> Load Servers</button>
<button class="btn btn-light" (click)="onLogin()" [ngStyle]="{'margin-left': '20px'}" > Login</button>
<button class="btn btn-light" (click)="onLogout()" [ngStyle]="{'margin-left': '20px'}"> Logout</button>
