<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]='{exact : true}'><a [routerLink]="['/']" >Home</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink='/servers'>Servers</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/users']">Users</a></li>
        <!-- 
          routerLink 
          In routerLink selector  -> the target path would be (localhost:4200/users)
          -> If not '/' , the path would be currentpath + / ...
          For the non-root path , the path may be localhost:4200/users/users.
          -> if using './' , it also represent releative path
          ->  if using '../' , it use the parent compoent  path. 


          -> ?? For the third option , the routlink array [] represent to   ... /element1/element2....
        -->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
