<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        [routerLink]="['/servers' , server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
      <!-- The URI would be  /servers/5/edit?allowEdit=1#loading -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--<button class="btn btn-primary" (click)="onReload()"> Reload Page</button>-->
    <!--<app-edit-server></app-edit-server>-->
    <router-outlet></router-outlet>
    <hr>
  </div>
</div>

